.navBarWrapper,
.navbar {
    background-color: rgb(248, 103, 175);
}
.footerContent,
.contentWrapper {
    padding: 0 6%;
}
.textColor {
    color: white;
}
.NavBarBrand {
    padding: 0 auto;
}
.textDarkColor {
    color: black;
}
.navbar-end > .selected {
    background-color: rgb(248, 150, 199);
}
a.navbar-item:hover {
    background-color: rgb(248, 103, 175);
    color: #3b3b3b;
    font-weight: bold;
}
.logoutBtn {
    background: none;
    border: 0;
    color: black;
    font-size: medium;
    cursor: pointer;
}
.logoutBtn:hover {
    background-color: white;
}

/* dropdown item */
.dropdown-button {
    padding: 0.5rem 0.45rem;
}
.dropdown {
    position: relative;
    display: inline-block;
    padding-top: 0.95rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(248, 103, 175);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover {
    background-color: rgb(255, 255, 255);
    width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
