.navBarWrapper,
.navbar {
    background-color: rgb(248, 103, 175);
}
.footerContent,
.contentWrapper {
    padding: 0 6%;
}
.textColor {
    color: white;
}
.NavBarBrand {
    padding: 0 auto;
}
.textDarkColor {
    color: black;
}
.navbar-end > .selected {
    background-color: white;
}
.logoutBtn {
    background: none;
    border: 0;
    color: black;
    font-size: medium;
    cursor: pointer;
}
.logoutBtn:visited, .logoutBtn:active {
    border: 0;
}
