.AdditionalLoginLinks {
    display: flex;
    justify-content: space-between;
}
.authWrapper {
    background-color: rgb(253, 94, 174);
}
.authColumnsWrapper {
    padding: 5.6rem 0;
}
.authInput {
    width: 70%;
    float: right;
}
.authLink {
    font-size: small;
}
@media only screen and (max-width: 487px) {
    .AdditionalLoginLinks {
        display: inline;
    }
    .coverImage {
        display: none;
    }
    .authColumnsWrapper {
        padding: 16.6rem 0;
    }
    .authInput {
        width: 98%;
    }
}