.privacyWrapper {
    margin: 2rem 10rem;
}
@media only screen and (max-width: 467px) {
    .privacyWrapper {
        margin: 1rem 2rem;
    }
}
@media only screen and (max-width: 767px) {
    .privacyWrapper {
        margin: 1rem 3rem;
    }
}
@media only screen and (max-width: 1167px) {
    .privacyWrapper {
        margin: 1rem 5rem;
    }
}
